body{
   font-family: Helvetica, Arial, sans-serif;
   margin-right: 100px;
   margin-left: 100px;
   background-color:antiquewhite;
}

header{
    background-color:antiquewhite;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

header h1{
    color:dimgrey;
    font-size: 50px;
}

header img{
    border-radius: 150px;
}


h1, h2{
    font-family: 'Alfa Slab One', cursive;
}

/* Main element */
main {
    background-image: url("../img/bg_image.jpeg");
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 60px;
}

div {
    list-style-position: inside;
    text-align: justify;
    padding-left:  60px;
    font-size: 20px;
    color: rgba(25, 17, 17, 0.755);
}

ul{
    list-style-position: inside;
    text-align: justify;
    padding-left: 600px;
    text-transform: uppercase;
    font-size: 20px;
}

a{
    color: rgba(25, 17, 17, 0.755)
}

a:visited{
    color:darkslategray
}

a:hover{
    color:chocolate
}

p{
    color:chocolate;
    font-size: 20px;
    padding-right: 70px;
    padding-left: 70px;
}

/* Footer element */
footer {
    text-align: center;
    padding-top: 50px;
}